body {
  font-family: "Montserrat";
}

p {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 0 1.5rem;
}

/* Title */
#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.iphone-dog {
  transform: rotate(20deg);
  width: 60%;
  position: absolute;
  right: 20%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: light;
}

.download-button {
  margin: 5% 3% 5% 0
}

/* Features */

#features {
  position: relative;
  padding: 7% 15%;
  text-align: center;
  background-color: #fff;
  z-index: 1;
}

.fas {
  color: #ef8172;
  padding-bottom: 1rem;
}

.fa-check-circle:hover {
  color: #ff4c68;
}

.fa-bullseye:hover {
  color: #ff4c68;
}

.fa-heart:hover {
  color: #ff4c68;
}

.features-text {
  color: #8f8f8f;
  padding: 5%;
}


/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
  transition: transform 2s ease;
}

.carousel-control-next {
  opacity: 0;
}

.carousel-control-prev{
  opacity: 0
}

/* Pricing */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

/* mobile readability */

@media (max-width: 1028px) {
  #title{
    text-align: center;
  }

  .iphone-dog{
    position: static;
    transform: rotate(0);
  }

}

/* cta */

#cta{
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.cta-btn{
  margin: 2% 3% 1% 0;
}

.cta-heading{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3rem;
}

/* footer */

#footer{
  text-align: center;
  background-color: #fff;
  padding: 100px;
}

.footer-img{
  padding: 1% 1%;
}

.footer-txt{
  color: #8f8f8f;
}
